
<!DOCTYPE html>
<html>
<title>Cinemato</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <script src="https://kit.fontawesome.com/13c823234a.js"></script>
</head>
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
 <a href="/" style="text-decoration: none;">
    <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b><i class="fas fa-film"></i>Cinemato</b></h3>
  </div>
</a>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="/movies/" class="w3-bar-item w3-button"><i class="fas fa-video"></i>  Movies</a>
    <a href="#" class="w3-bar-item w3-button"><i class="fas fa-tv"></i>  TV series</a>
    {% if is_authenticated%}
    <span onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button"><i class="fas fa-ticket-alt"></i> My Tickets</span>
    {% endif %}
    {% if is_authenticated %}
    <a href="/logout" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt"></i>  Sign Out</a>
    {% else %}
    <a href="/sign_in" class="w3-bar-item w3-button"><i class="fas fa-sign-in-alt"></i>  Sign In</a>
    {% endif %}    <a href="#" class="w3-bar-item w3-button"><i class="fas fa-info"></i>  About Us</a>
  </div>


</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">Cinemato</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <!-- modal -->
  <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-blue-gray"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2><i class="fas fa-ticket-alt"></i> Tickets</h2>
          </header>
          <div class="w3-container">
            {% if tickets %}
            {% for t in tickets %}
            <p>{{ t.showtime.movie }} in Cinema {{ t.showtime.cinema }} at {{ t.showtime.start }}-{{ t.showtime.end }} - {{ t.seats }} seats reserved</p>
            {% endfor %}
            {% else %}
            <p>You Have No Tickets Yet..</p>
  
            {% endif %}
          </div>
        </div>
      </div>
      <!-- modal end -->
    <!--content-->
    <div class="w3-container w3-margin-bottom" style="margin-top: 75px; margin-left: 40px; margin-right: 40px;">
    <form action="/search/" method="POST">
        <div class="w3-row">
          <div class="w3-col w3-container w3-threequarter">
          <input class="w3-input w3-round" name="keyword" type="text" placeholder="search">             </div>

        <div class="w3-col w3-container w3-quarter">
            <button class="w3-button" type="submit">      <i class="fa fa-search"></i>
            </button>
        </div>
        </div>
        </form>
    </div>
<div class="w3-card-4">
        <div class="w3-container w3-blue-grey">
                <h2><i class="fas fa-search w3-margin-right"></i> Search Result for <i>{{ keyword }}</i> </h2>
              </div>
    <div class="w3-row  w3-padding-16">
        {% if result %}
        {% for movie in result %}
        
        {% cycle '<div class="w3-row w3-padding-16"> ' '' '' '' %}
        <div class="w3-col l3 s6 w3-margin-bottom">
    
            <div class="w3-container">
                <div class="w3-display-container">
                  <img src="/{{ movie.image }}" style="width:100%;">
                  <span class="w3-tag w3-display-topleft">New</span>
                  <a href="/movie/{{ movie.id }}">
                  <div class="w3-display-middle w3-display-hover">
                    <button class="w3-button w3-black">See Info <i class="far fa-eye"></i></button>
                  </div>
                </a>
                </div>
                <p>{{ movie.title }}<br></p>
              </div>
        </div>
        <!-- {% cycle '</div>' '' '' '' %} -->
        {% endfor %}
                      {% else %}
                <p class="w3-margin-left w3-text-gray w3-jumbo">No matches found!</p>
                  {% endif %}
            </div>
</div>
  
 <!-- Footer -->
 <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge w3-margin-top" style="margin:-24px">
    <i class="fab fa-facebook w3-hover-opacity"></i>
    <i class="fab fa-instagram w3-hover-opacity"></i>
    <i class="fab fa-twitter w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="#" target="_blank" class="w3-hover-text-green">Hashtag</a></p>
  <!-- End footer -->
  </footer>

  <!-- End page content -->
</div>

<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>